@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    nav>ul>li::after {
        content: url('/src/images/icon.png');
        width: 18px;
        height: 18px;
        line-height: 1;
        top: 8px;
        right: 0px;
        position: absolute;
        bottom: 0;
        transform: translate(0, 50%);
    }
    nav>ul>li:nth-child(4)::after {
        content: "";
        width: 0;
        height: 0;
        top: 0;
        right: -0;
        position: absolute;
        
    }
  
}

@layer components{
    .btn{
        @apply rounded-full py-3 px-4 md:px-6 md:text-lg font-medium inline-flex items-center border 
    }
    .black_btn{
        @apply text-white bg-btnBg gap-1 border-btnBg hover:bg-white hover:text-textColor hover:border-white hover:transition-all duration-500 hover:scale-105 ease-in-out
    }
    .white_btn{
        @apply text-textColor bg-white border-btnBg gap-3 hover:text-white hover:bg-btnBg hover:transition-all ease-in-out duration-500 hover:scale-105
    }
    h2{
        @apply text-[32px] md:text-[56px] font-semibold leading-tight tracking-tight 
    }
    h3{
        @apply text-[28px] xl:text-[36px] 2xl:text-[40px] font-semibold leading-tight tracking-tight 
    }
    h4{
        @apply text-[24px] md:text-[24px] font-semibold leading-none 
    }
    p{
        @apply text-[18px] leading-normal tracking-tighter text-bodyText
    }

  
}
@layer base{
    html{
        letter-spacing: -.3px;
        padding: 0;
        margin: 0;
    }
  
}